.yoast-field-group__toggle {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    padding: 13px 0 12px;
}

.yoast-field-group__toggle .yoast-field-group__title {
    margin-bottom: 0;
    cursor: pointer;
}

.yoast-field-group__toggle + .yoast-field-group__toggle {
    border-top: var(--border-default);
}

.yoast-toggle {
    display: flex;
    position: relative;
    border: none;
    height: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: var(--color-toggle-off);
}

.yoast-toggle div[aria-checked="false"] ~ .yoast-toggle__status-left {
    color: var(--color-toggle-on);
}

.yoast-toggle div[aria-checked="true"] ~ .yoast-toggle__status-right {
    color: var(--color-toggle-on);
}

.yoast-toggle__status-left {
    order: 1;
}

.yoast-toggle__status-right {
    order: 3;
}
.yoast-toggle div {
    display: inline-block;
    width: 34px;
    height: 14px;
    border-radius: 7px;
    background: #B6CF94;
    position: relative;
    margin: 0 9px;
    content: "";
    order: 2;
}

.yoast-toggle div::after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: -2px;
    background: #6EA029;
    border-radius: 50%;
    top: -3px;
    transition: all ease-out 100ms;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.yoast-toggle div[aria-checked="false"] {
    background: #9E9E9E;
}

.yoast-toggle div[aria-checked="false"]:after {
    right: calc(100% - 18px);
    background: #F1F1F1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .20), 0 2px 1px -1px rgba(0, 0, 0, .12);
}